body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFEBC2;
    text-align: center;
}


main {
    max-width: 800px;
    margin: 20px auto;
    
}

h1, h2 {
    color: #333;
    font-size: 30px;
}

h1#title {
    font-size: 50px;
}

#catslove {
    color: #228337;
    font-size: 20px;
}

#cuddles {
    font-size: 18px;
}

a {
    color: #7AA3FF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

section {
    margin-bottom: 30px;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

footer {
    text-align: center;
    margin-top: 50px;
    color: #333;
}

footer a {
    color: #3C81FB;
}

footer a:hover {
    color: #7AA3FF;
}

#submit {
    background-color: #7AA3FF;
    font-size: 20px;
}

div {
    font-size: 20px;
}

#catphotourl {
    font-size: 20px;
}
